{% extends 'polls/index.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h1>Home Page</h1>

{% block header %}
<a href="{% url 'index' %}">Index</a>
{% endblock %}

{% block content %}
<form method="GET" action="{% url 'homepage2' %}">
    <input type="text" name="search" placeholder="Пошук за заголовком">

    <select name="category">
        <option value="">Вибрати категорію</option>
        {% for category in categories %}
            <option value="{{ category.title }}">{{ category.title }}</option>
        {% endfor %}
    </select>

    <input type="date" name="reminder_date" placeholder="Дата нагадування (YYYY-MM-DD)">
    <input type="time" name="reminder_time" placeholder="Час нагадування (HH:MM)">

    <button type="submit">Фільтрувати</button>
</form>


<h2>Posts</h2>
{% for post in posts %}
    <p>
        <a href="{% url 'post_detail2' post.pk %}">{{ post.title }}</a>
    </p>
{% endfor %}

<h2>Authors</h2>
{% for author in authors %}
    <p>
        <a href="{% url 'author_page2' author.pk %}">{{ author.first_name }} {{ author.last_name }}</a>
    </p>
{% endfor %}

<h2>Notes</h2>
{% for note in notes %}
    <p>
        <a href="{% url 'note_detail' note.pk %}">{{ note.title }} - {{ note.category.title }} ({{ note.reminder }})</a>
    </p>
{% endfor %}

{% endblock %}
</body>
</html>